body {
    background-color: #CE7D80;
}

.container {
    width: 800px;
    border: 3px solid #964145;
    padding: 20px;
    margin: 0 auto 0 auto;
}

header {
    background-color: #964145;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #ffffff;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.5)
}


/*cool effect for h1 font*/

.jump span {
    display: inline-block;
    transition: transform 0.2s;
    cursor: url('http://csscursor.info/source/santahand.png'), default;
}

.jump span:hover {
    color: #000000;
    transform: translateY(-20px) rotate(10deg) scale(2);
}

h2 {
    font-family: 'Lobster', cursive;
}

h1 {
    font-family: 'Oswald', sans-serif;
    margin: 10px 10px 10px 10px;
}


/* for main nav */

li {
    display: inline;
}

li {
    margin: 0;
    padding: 0 0 20px 10px;
}

li {
    font-family: 'Roboto', sans-serif;
}

li ul, li li {
    margin: 0;
    padding: 0;
    display: inline;
    list-style-type: none;
}

li a:link, li a:visited {
    float: left;
    line-height: 14px;
    font-weight: bold;
    margin: 0 10px 4px 10px;
    text-decoration: none;
    color: #964145;
}

li a:link#current, li a:visited#current, li a:hover {
    border-bottom: 4px solid #000000;
    padding-bottom: 2px;
    background: transparent;
    color: #000000;
}

li a:hover {
    color: #000000;
}

.red-box {
    width: 50%;
    /*height: 200px;*/
    /*background-color: red;*/
    /*padding: 10px;*/
    text-align: center;
    float: left;
}

.blue-box {
    width: 50%;
    /*height: 200px;*/
    /*background-color: blue;*/
    /*padding: 10px;*/
    margin: 0 0 0 0;
    text-align: center;
    float: right;
}

footer {
    clear: both;
    border-top: 1px solid #964145;
}
