body {
    background-color: #CE7D80;
}

.red-box {
    width: 200px;
    height: 200px;
    background-color: red;
    padding: 10px;
}

.blue-box {
    width: 200px;
    height: 200px;
    background-color: blue;
    padding: 10px;
    margin: 10px 0 0 0;
}
